# Ignore all
*
# Add .gitignore
!/.gitignore

# Add web part files
!/CMS/
 /CMS/*
!/CMS/CMSWebParts/
 /CMS/CMSWebParts/*
!/CMS/CMSWebParts/COVID-19/
 /CMS/CMSWebParts/COVID-19/*
!/CMS/CMSWebParts/COVID-19/CoronavirusCountryStatistics.ascx*

# Add Global folder and files
!/CMS/App_Code/
 /CMS/App_Code/*
!/CMS/App_Code/Global/
 /CMS/App_Code/Global/*
!/CMS/App_Code/Global/COVID-19/
 /CMS/App_Code/Global/COVID-19/*
!/CMS/App_Code/Global/COVID-19/CountryInfo.cs*
!/CMS/App_Code/Global/COVID-19/JSONResponse.cs*

